* {
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
    background: linear-gradient(to top right, skyblue, white);
    min-height: 100vh;
}

.circle1 {
    position:absolute;
    background-color: white;
    padding: 3rem;
    top:50%;
    left:20%;
    border-radius:50%;
    background: linear-gradient(to top right,rgba(255,255,255,0.6), skyblue);
    z-index: 2;
    width:19rem;
    height: 19rem;
}

.circle2 {
    position:absolute;
    background-color: white;
    padding: 3rem;
    top:20%;
    right:20%;
    border-radius: 50%;
    background: linear-gradient(to top right,rgba(255,255,255,0.6), skyblue);
    z-index: 2;
    width:10rem;
    height: 10rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.window {
    padding:1rem;
    background: rgba(255,255,255,0.1);
    background: linear-gradient(to left bottom,rgba(255,255,255,0.1), rgba(0,0,0,0.1));
    z-index: 3;
    border-radius: 1rem;
    min-width: 10rem;
    min-height: 5rem;
    backdrop-filter:blur(1rem);
    display:flex;
    flex-direction: column;
}

.actual {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

.window {
    display:flex;

}

.left {
    padding: 1rem;
    background-color:rgba(255,255,255,0.4);
    border-radius: 1rem;
    display: flex;
    flex-direction:column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text1 {
    font-size: 2rem;
    font-weight: 900;
    color:rgb(48, 171, 193);
}

ul li {
    list-style-type:none;
}

a {
    text-decoration: none;
    color: rgb(92, 197, 188);
}

.bottom ul {
    display:flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}

.content {
    color: rgb(28, 55, 53);
    padding:1rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.text2 {
    text-align: right;
    font-size: 0.7rem;
    font-weight: lighter;
}

.works {
    display: flex;
    gap:1rem;
    flex-wrap:wrap;
}
.box {
    padding:4rem;
    background-color: aquamarine;
    background: linear-gradient(rgba(200,200,200,0.3), rgba(100,100,100,0.5));
    border-radius: 1rem;
    opacity: 50%;
    transition-duration: 200ms;
}

.box:hover  {
    opacity:100%;
}